<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Euphoria Check</title>
  <link rel="stylesheet" href="styles/index.css" type="text/css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body style="background-image: radial-gradient(circle, rgb(34, 34, 210), rgb(95, 4, 200));">
  <nav>
    <h1><a href="/">Euphoria-Check</a></h1>
    <ul>
      <li class="mx-5">
        <select id="languageSelect" name="language" onchange="changeLanguage()">
          <option selected value="en">English</option>
          <option value="hi">हिन्दी</option>
          <option value="mr">मराठी</option>
          <option value="ba">বাংলা</option>
        </select>
      </li>
      <li><a href="/about" id="about">About Us</a></li>
    </ul>
  </nav>
  <section class="cta-card">
    <div class="cta-card__container">
      <header class="cta-card__header">
        <p class="cta-card__title">Euphoria Check</p>
        <p class="cta-card__description">An Advanced PERMA meter to check your Euphoria and Evolve!</p>
      </header>
      <div class="cta-card__input-box">
        <form action="/question" method="post" onsubmit="return validateEmail()">
          <input class="cta-card__input" type="email" id="emailInput" placeholder="youremail@address.com"
            name="reciever_email" required onfocus="hideError()" />
          <input type="hidden" id="selectedLang" name="selectedLang" value="" />
          <button class="cta-card__button" type="submit" onsubmit="return validateEmail()">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6.66669 16H25.3334" stroke="#3D476D" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
              <path d="M20 21.3333L25.3333 16" stroke="#3D476D" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
              <path d="M20 10.6667L25.3333 16" stroke="#3D476D" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
          </button>
          <div id="emailError" class="error__description" style="display: none">
            Please enter a valid email address.
          </div>
        </form>
      </div>
      <div class="cta-card__img-box">
        <div class="circle" id="P">
          <b>P</b>
          <br />
          <div class="tooltip" style="font-size: small; text-align: center">
            <b>Positive Emotions</b>: Experiencing positive feelings such as joy, hope, inspiration and love
          </div>
        </div>
        <div class="circle" id="E">
          <b>E</b>
          <br />
          <div class="tooltip" style="font-size: small; text-align: center">
            <b>Engagement</b>: Being fully involved and absorbed in activities
          </div>
        </div>
        <div class="circle" id="R">
          <b>R</b>
          <br />
          <div class="tooltip" style="font-size: small; text-align: center">
            <b>Relationships</b>: Connections we have with others, including family, friends, colleagues, and the
            broader community
          </div>
        </div>
        <div class="circle" id="M">
          <b>M</b>
          <br />
          <div class="tooltip" style="font-size: small; text-align: center">
            <b>Meaning</b>: Having a sense of purpose and direction in life
          </div>
        </div>
        <div class="circle" id="A">
          <b>A</b>
          <br />
          <div class="tooltip" style="font-size: small; text-align: center">
            <b>Achievement</b>: Setting and pursuing goals that are personally meaningful and important
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="scripts/index.js"></script>
  <script>
    const content = {
      en: {
        title: "Euphoria Check",
        description: "An Advanced PERMA meter to check your Euphoria and Evolve!",
        emailPlaceholder: "youremail@address.com",
        emailError: "Please enter a valid email address.",
        pTooltip: "Positive Emotions: Experiencing positive feelings such as joy, hope, inspiration and love",
        eTooltip: "Engagement: Being fully involved and absorbed in activities",
        rTooltip: "Relationships: Connections we have with others, including family, friends, colleagues, and the broader community",
        mTooltip: "Meaning: Having a sense of purpose and direction in life",
        aTooltip: "Achievement: Setting and pursuing goals that are personally meaningful and important",
        about: "About Us"
      },
      hi: {
        title: "यूफोरिया चेक",
        description: "आपके यूफोरिया को चेक करने और विकसित करने के लिए एक उन्नत PERMA मीटर!",
        emailPlaceholder: "आपकीईमेल@पता.com",
        emailError: "कृपया एक वैध ईमेल पता दर्ज करें।",
        pTooltip: "सकारात्मक भावनाएँ: आनंद, आशा, प्रेरणा और प्रेम जैसी सकारात्मक भावनाओं का अनुभव करना",
        eTooltip: "व्यस्तता: गतिविधियों में पूरी तरह से संलग्न और अवशोषित होना",
        rTooltip: "संबंध: परिवार, मित्र, सहयोगी और व्यापक समुदाय सहित दूसरों के साथ हमारे संबंध",
        mTooltip: "अर्थ: जीवन में उद्देश्य और दिशा होना",
        aTooltip: "उपलब्धि: व्यक्तिगत रूप से महत्वपूर्ण और सार्थक लक्ष्यों को स्थापित करना और उनका पीछा करना",
        about: "हमारे बारे में"
      },
      ba: {
        title: "ইউফোরিয়া চেক",
        description: "আপনার ইউফোরিয়া যাচাই করতে এবং বিকাশ করতে একটি উন্নত PERMA মিটার!",
        emailPlaceholder: "আপনারইমেল@ঠিকানা.com",
        emailError: "একটি বৈধ ইমেল ঠিকানা প্রবেশ করুন।",
        pTooltip: "ইতিবাচক অনুভূতি: আনন্দ, আশা, অনুপ্রেরণা এবং ভালবাসার মত ইতিবাচক অনুভূতি অনুভব করা",
        eTooltip: "সদা ব্যস্ততা: সম্পূর্ণরূপে কাজে লিপ্ত এবং মগ্ন থাকা",
        rTooltip: "সম্পর্ক: পরিবার, বন্ধু, সহকর্মী এবং বৃহত্তর সম্প্রদায় সহ অন্যদের সাথে আমাদের সংযোগ",
        mTooltip: "অর্থ: জীবনে উদ্দেশ্য এবং দিকনির্দেশনা থাকা",
        aTooltip: "সাফল্য: ব্যক্তিগতভাবে গুরুত্বপূর্ণ এবং তাৎপর্যপূর্ণ লক্ষ্য স্থাপন এবং অনুসরণ করা",
        about: "আমাদের সম্পর্কে"
      },
      mr: {
        title: "युफोरिया तपासणी",
        description: "आपला युफोरिया तपासण्यासाठी आणि विकसित होण्यासाठी एक प्रगत PERMA मीटर!",
        emailPlaceholder: "आपलाइमेल@पत्ता.com",
        emailError: "कृपया एक वैध ईमेल पत्ता प्रविष्ट करा.",
        pTooltip: "सकारात्मक भावना: आनंद, आशा, प्रेरणा आणि प्रेम यांसारख्या सकारात्मक भावना अनुभवणे",
        eTooltip: "संपूर्ण गुंतवणूक: क्रियाकलापांमध्ये पूर्णपणे सहभागी आणि गुंतलेले असणे",
        rTooltip: "संबंध: कुटुंब, मित्र, सहकारी आणि व्यापक समुदाय यांच्यासह इतरांसोबतचे आपले संबंध",
        mTooltip: "अर्थ: जीवनात उद्देश आणि दिशा असणे",
        aTooltip: "यश: वैयक्तिकदृष्ट्या महत्वाचे आणि अर्थपूर्ण ध्येय स्थापित करणे आणि त्यांचा पाठपुरावा करणे",
        about: "आमच्याबद्दल"
      }
    };

    function changeLanguage() {
      const selectedLang = document.getElementById('languageSelect').value;
      document.querySelector('.cta-card__title').innerText = content[selectedLang].title;
      document.querySelector('.cta-card__description').innerText = content[selectedLang].description;
      document.getElementById('emailInput').placeholder = content[selectedLang].emailPlaceholder;
      document.getElementById('emailError').innerText = content[selectedLang].emailError;
      document.querySelector('#P .tooltip').innerHTML = `<b>Positive Emotions</b>: ${content[selectedLang].pTooltip}`;
      document.querySelector('#E .tooltip').innerHTML = `<b>Engagement</b>: ${content[selectedLang].eTooltip}`;
      document.querySelector('#R .tooltip').innerHTML = `<b>Relationships</b>: ${content[selectedLang].rTooltip}`;
      document.querySelector('#M .tooltip').innerHTML = `<b>Meaning</b>: ${content[selectedLang].mTooltip}`;
      document.querySelector('#A .tooltip').innerHTML = `<b>Achievement</b>: ${content[selectedLang].aTooltip}`;
      document.getElementById('selectedLang').value = selectedLang;
      document.getElementById('about').textContent = content[selectedLang].about;
    }

    document.addEventListener('DOMContentLoaded', (event) => {
      changeLanguage();
    });

    function validateEmail() {
      const emailInput = document.getElementById('emailInput');
      const emailError = document.getElementById('emailError');
      const emailValue = emailInput.value;
      const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

      if (!emailPattern.test(emailValue)) {
        emailError.style.display = 'block';
        return false;
      }
      return true;
    }

    function hideError() {
      const emailError = document.getElementById('emailError');
      emailError.style.display = 'none';
    }
  </script>
</body>

</html>