<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div>
        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/5afb75ad9691f922690673ce19cf2da1b2891ec7b98ccaec220435b0d60728cb?">
    </div>
    <div class="container">
        <form action="/" method="post">
            <div class="input-group" id="login">Euphoria-Check</div>
            <div class="input-group">
                
                <input type="email" name="email" placeholder="Enter registered email" required>
            </div>
            <div class="input-group">
                
                <input type="password" name="password" placeholder="Enter password">
            </div>
            <div class="input-group">
            <button type="submit">Login</button>
        </div>
        </form>
        <p id="p1">Don't have an account?<a href="/signup" id="p2">Register</a></p>
    </div>
</body>
</html>