<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/question.css">
</head>
<body style="background-image: url(https://images.unsplash.com/photo-1557682250-33bd709cbe85?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8Y29sb3IlMjBiYWNrZ3JvdW5kfGVufDB8MHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60);background-repeat: no-repeat;background-position: center;background-size: cover;">



  <form action="/result" method="post">
  <div class="radio-input">
    <div class="info">
    <span class="question">How often do you find yourself happy?</span>
    <span class="steps">1/20</span>
     </div>
     <input type="radio" id="value-2" name="avalue" value=5>
     <label for="value-2">Frequently</label>
    <input type="radio" id="value-1" name="avalue" value=0>
    <label for="value-1">Rarely</label>
  </div>

  <div class="radio-input">
    <div class="info">
    <span class="question">Do you often experience feelings of excitement and enthusiasm ?</span>
    <span class="steps">2/20</span>
     </div>
     <input type="radio" id="value-2b" name="bvalue" value=5>
     <label for="value-2b">Frequently</label>
    <input type="radio" id="value-1b" name="bvalue" value=0>
    <label for="value-1b">Rarely</label>
  </div>

  <div class="radio-input">
    <div class="info">
    <span class="question">How frequently do you feel grateful for the good things in your life?</span>
    <span class="steps">3/20</span>
     </div>
     <input type="radio" id="value-2c" name="cvalue" value=5>
     <label for="value-2c">Frequently</label>
    <input type="radio" id="value-1c" name="cvalue" value=0>
    <label for="value-1c">Rarely</label>
  </div>

  <div class="radio-input">
    <div class="info">
    <span class="question">Do you feel jealous at some times ?</span>
    <span class="steps">4/20</span>
     </div>
     <input type="radio" id="value-2d" name="dvalue" value=0>
     <label for="value-2d">Affirmative</label>
    <input type="radio" id="value-1d" name="dvalue" value=5>
    <label for="value-1d">Negative</label>
  </div>




  <div class="radio-input">
    <div class="info">
    <span class="question">Do you actively seek out new challenges to keep yourself engaged?</span>
    <span class="steps">5/20</span>
     </div>
     <input type="radio" id="value-2e" name="evalue" value=5>
     <label for="value-2e">Frequently</label>
    <input type="radio" id="value-1e" name="evalue" value=0>
    <label for="value-1e">Rarely</label>
  </div>
  <div class="radio-input">
    <div class="info">
    <span class="question">How often do you get so absorbed in your favorite activities that you don't notice how much time has passed?</span>
    <span class="steps">6/20</span>
     </div>
     <input type="radio" id="value-2f" name="fvalue" value=5>
     <label for="value-2f">Frequently</label>
    <input type="radio" id="value-1f" name="fvalue" value=0>
    <label for="value-1f">Rarely</label>
  </div>
  <div class="radio-input">
    <div class="info">
    <span class="question">How often do you get completely absorbed in what you're doing?</span>
    <span class="steps">7/20</span>
     </div>
    <input type="radio" id="value-1g" name="gvalue" value=0>
    <label for="value-1g">Rarely</label>
    <input type="radio" id="value-2g" name="gvalue" value=5>
    <label for="value-2g">Frequently</label>
  </div>
  <div class="radio-input">
    <div class="info">
    <span class="question">Can you dance without fear in public?</span>
    <span class="steps">8/20</span>
     </div>
     <input type="radio" id="value-2h" name="hvalue" value=5>
     <label for="value-2h">Affirmative</label>
    <input type="radio" id="value-1h" name="hvalue" value=0>
    <label for="value-1h">Negative</label>
  </div>


  <div class="radio-input">
    <div class="info">
    <span class="question">Do you feel like you have a support system of friends and family?</span>
    <span class="steps">9/20</span>
     </div>
     <input type="radio" id="value-2i" name="ivalue" value=5>
     <label for="value-2i">Affirmative</label>
    <input type="radio" id="value-1i" name="ivalue" value=0>
    <label for="value-1i">Negative</label>
  </div>
  <div class="radio-input">
    <div class="info">
    <span class="question">How often do you spend quality time with people who uplift and inspire you?</span>
    <span class="steps">10/20</span>
     </div>
     <input type="radio" id="value-2j" name="jvalue" value=5>
     <label for="value-2j">Frequently</label>
    <input type="radio" id="value-1j" name="jvalue" value=0>
    <label for="value-1j">Rarely</label>
  </div>
  <div class="radio-input">
    <div class="info">
    <span class="question">Do you feel comfortable sharing your thoughts and feelings with others?</span>
    <span class="steps">11/20</span>
     </div>
     <input type="radio" id="value-2k" name="kvalue" value=5>
     <label for="value-2k">Affirmative</label>
    <input type="radio" id="value-1k" name="kvalue" value=0>
    <label for="value-1k">Negative</label>
  </div>
  <div class="radio-input">
    <div class="info">
    <span class="question">Do you feel you need a partner?</span>
    <span class="steps">12/20</span>
     </div>
     <input type="radio" id="value-2l" name="lvalue" value=0>
     <label for="value-2l">Affirmative</label>
    <input type="radio" id="value-1l" name="lvalue" value=5>
    <label for="value-1l">Negative</label>
  </div>





  <div class="radio-input">
    <div class="info">
    <span class="question">Do you feel a sense of purpose and direction in your life?</span>
    <span class="steps">13/20</span>
     </div>
     <input type="radio" id="value-2m" name="mvalue" value=6>
     <label for="value-2m">Affirmative</label>
    <input type="radio" id="value-1m" name="mvalue" value=0>
    <label for="value-1m">Negative</label>
  </div>
  <div class="radio-input">
    <div class="info">
    <span class="question">Do you feel that your life has a deeper meaning beyond just day-to-day activities?</span>
    <span class="steps">14/20</span>
     </div>
     <input type="radio" id="value-2n" name="nvalue" value=5>
     <label for="value-2n">Affirmative</label>
    <input type="radio" id="value-1n" name="nvalue" value=0>
    <label for="value-1n">Negative</label>
  </div>
  <div class="radio-input">
    <div class="info">
    <span class="question">Do you spend negative time on socials? ?</span>
    <span class="steps">15/20</span>
     </div>
     <input type="radio" id="value-2o" name="ovalue" value=0>
     <label for="value-2o">Affirmative</label>
    <input type="radio" id="value-1o" name="ovalue" value=5>
    <label for="value-1o">Negative</label>
  </div>
  <div class="radio-input">
    <div class="info">
    <span class="question">Do you like going to college/school/office ?</span>
    <span class="steps">16/20</span>
     </div>
     <input type="radio" id="value-2p" name="pvalue" value=5>
     <label for="value-2p">Affirmative</label>
    <input type="radio" id="value-1p" name="pvalue" value=0>
    <label for="value-1p">Negative</label>
  </div>


  <div class="radio-input">
    <div class="info">
    <span class="question">Have you achieved any major goals ?</span>
    <span class="steps">17/20</span>
     </div>
     <input type="radio" id="value-2q" name="qvalue" value=5>
     <label for="value-2q">Affirmative</label>
    <input type="radio" id="value-1q" name="qvalue" value=0>
    <label for="value-1q">Negative</label>
  </div>
  <div class="radio-input">
    <div class="info">
    <span class="question">Do you think your Parents are proud of you?</span>
    <span class="steps">18/20</span>
     </div>
     <input type="radio" id="value-2r" name="rvalue" value=5>
     <label for="value-2r">Affirmative</label>
    <input type="radio" id="value-1r" name="rvalue" value=0>
    <label for="value-1r">Negative</label>
  </div>
  <div class="radio-input">
    <div class="info">
    <span class="question">Do you think people respect you ?</span>
    <span class="steps">19/20</span>
     </div>
     <input type="radio" id="value-2s" name="svalue" value=5>
     <label for="value-2s">Affirmative</label>
    <input type="radio" id="value-1s" name="svalue" value=0>
    <label for="value-1s">Negative</label>
  </div>
  <div class="radio-input">
    <div class="info">
    <span class="question">Do you think you have done good in your life so far ?</span>
    <span class="steps">20/20</span>
     </div>
     <input type="radio" id="value-2t" name="tvalue" value=5>
     <label for="value-2t">Affirmative</label>
    <input type="radio" id="value-1t" name="tvalue" value=0>
    <label for="value-1t">Negative</label>
  </div>

  <div style="margin-left: 40vw; margin-bottom: 20px;">
    <button type="submit">
      Submit and Calculate
      <div class="arrow-wrapper">
          <div class="arrow"></div>
  
      </div>
  </button>
</form>
  </div>

  <script>
    let a = document.getElementsByTagName("label")
    for(let i=0;i<a.length;i++){
      a[i].addEventListener("click",()=>{
        a[i].style.backgroundColor="#bbb";
        if(i%2===0){
          a[i+1].style.backgroundColor="#fff"
        }else{
          a[i-1].style.backgroundColor="#fff"
        }
      })
    }
  </script>

</body>
</html>