<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container2">
        <form action="/signup" method="post">
            <h2>SIGN UP</h2>
            <div class="input-group">
                
                <input type="email" name="email" placeholder="Enter registered email" required>
            </div>
            <div class="input-group">
                
                <input type="password" name="password" placeholder="Enter password">
            </div>
            <button type="submit">SUBMIT</button>
        </form>
        
    </div>
</body>
</html>