@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-image: url(https://images.unsplash.com/photo-1557682250-33bd709cbe85?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8Y29sb3IlMjBiYWNrZ3JvdW5kfGVufDB8MHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header {
    background-image: url(https://images.unsplash.com/photo-1557682250-33bd709cbe85?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8Y29sb3IlMjBiYWNrZ3JvdW5kfGVufDB8MHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    border-bottom: 2px solid white;
}

.menu-icon {
    font-size: 30px;
    cursor: pointer;
    text-align: right;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
}

.key-features {
    display: none;
    margin-top: 20px;
}

.home{
    color: #fff;
    text-align: center;
    padding: 1em 0;
    text-decoration: none;
    display: inline;
}

.intro,
.features,
.mission,
.opensource {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #333;
}

.features ul {
    list-style-type: none;
    padding: 0;
}

.features li {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    border-top: 2px solid white;
    color: #fff;
    background-image: url(https://images.unsplash.com/photo-1557682250-33bd709cbe85?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8Y29sb3IlMjBiYWNrZ3JvdW5kfGVufDB8MHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.osch-logo {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.logo-container {
    width: 100%;
    margin: 0 auto;
}
