@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Mulish", sans-serif;
}

.cta-card {
  position: relative;
  width: 100rem;
  border-radius: 2rem;
  padding: 8.5rem;
  text-align: center;
  background: linear-gradient(to bottom right, #173ab7, #5271e0);
}
.cta-card::before {
  content: "";
  position: absolute;
  top: -2.5rem;
  left: -2.5rem;
  z-index: -10;
  display: block;
  width: calc(100% + 5rem);
  height: calc(100% + 5rem);
  border-radius: 2rem;
  background-color: #dde5f9;
}
@media only screen and (max-width: 56.25em) {
  .cta-card::before {
    display: none;
  }
}
.cta-card__container {
  max-width: 46rem;
  margin: 0 auto;
}
@media only screen and (max-width: 56.25em) {
  .cta-card__container {
    max-width: 80%;
  }
}
.cta-card__title {
  margin-bottom: 1rem;
  font-size: 3.6rem;
  font-weight: 700;
  color: #fff;
}
.cta-card__description {
  max-width: 75%;
  margin: 0 auto;
  margin-bottom: 3rem;
  font-size: 1.8rem;
  font-weight: 300;
  color: #fff;
}

.cta-card__input-box {
  position: relative;
}
.cta-card__input {
  width: 100%;
  padding: 2.2rem 2.5rem;
  display: inline-block;
  outline: none;
  border: 2px solid rgba(243, 248, 254, 0.3);
  border-radius: 10rem;
  font-size: 2rem;
  font-family: "Mulish", sans-serif;
  color: #fff;
  background-color: rgba(243, 248, 254, 0.4);
}
.cta-card__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.cta-card__input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.cta-card__input:focus {
  outline: 4px solid rgba(218, 70, 218, 0.4);
  border: 2px solid transparent;
}
.cta-card__button {
  position: absolute;
  top: 50%;
  right: 0.9rem;
  width: 5.1rem;
  height: 5.1rem;
  transform: translateY(-50%);
  outline: none;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}
.cta-card__button path {
  transition: all 0.3s ease;
}
.cta-card__button:hover path {
  stroke: rgb(218, 70, 218);
}
.cta-card__button:active {
  transform: translate(0.3rem, -50%);
}

.error__description {
  position: absolute;
  bottom: -2.5rem;
  right: 20%;
  max-width: 80%;
  margin: 0 auto;
  font-size: 1.8rem;
  font-weight: 700;
  color: #ad1c51;
}

@media only screen and (max-width: 37.5em) {
  .cta-card__button:active {
    transform: none;
  }
}
@media only screen and (max-width: 37.5em) {
  .cta-card__button {
    position: relative;
    top: auto;
    right: auto;
    display: block;
    width: 100%;
    height: auto;
    border-radius: 100rem;
    margin-top: 1.2rem;
    padding: 1.6rem;
    transform: none;
  }
}
.cta-card__img-box {
  position: absolute;
  left: 50%;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  transform: translate(-50%, 50%);
}
@media only screen and (max-width: 56.25em) {
  .cta-card__img-box {
    gap: 0;
  }
}
.cta-card__img {
  width: 9.4rem;
  height: 9.4rem;
  border: 0.8rem solid #fff;
  border-radius: 50%;
  box-shadow: 0 1.4rem 2.5rem -1.5rem rgba(82, 113, 224, 0.5);
  transition: filter 0.3s ease;
}
.cta-card__img:hover {
  filter: grayscale(1);
}

.circle{
  display: flex;
  align-items: center;
  justify-content: center;
  width:9rem;
  height:9rem;
  background-color: rgb(0, 116, 116);
  border-radius: 50%;
  color: rgb(255, 255, 255);
  border: rgb(255, 255, 255) solid 0.9rem;
  font-size: 5rem;
  font-family: "Mulish", sans-serif;
  margin:0.05rem;
}

.circle:hover{
  filter: grayscale(1);
  transition: filter 0.3s ease;
}

.rect{
  display: flex;
}

#P{
  background-color: #1E88E5;
}

#E{
  background-color: #4ED2DA;
}

#R{
  background-color: #D71A60;
}

#M{
  background-color: #8E24AA;
}

#A{
  background-color: #0154a4;
}

@media only screen and (max-width: 56.25em) {
  .circle:hover {
    filter: none;
  }
}
@media only screen and (max-width: 37.5em) {
  .circle:hover {
    transform: none;
  }
}
@media only screen and (max-width: 56.25em) {
  .circle {
    margin-right: -2.4rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .circle {
    width: 8.4rem;
    height: 8.4rem;
    border: 0.4rem solid #fff;
  }
}
@media only screen and (max-width: 67.5em) {
  .cta-card {
    width: 90%;
  }
}
@media only screen and (max-width: 56.25em) {
  .cta-card {
    padding: 6rem 0 8.5rem;
  }
}/*# sourceMappingURL=index.css.map */



/* Footer */

footer {
  position: fixed;
  bottom: 0;
  /* Position the footer at the bottom of the page */
  width: 100%;
  background-color: transparent;
}

.footerContainer {
  width: 100%;
  background-color: transparent;
}

.socialIcons {
  display: flex;
  justify-content: center;
}

.socialIcons a {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}

.socialIcons a i {
  font-size: 1cm;
  color: black;
  opacity: 0.9;
}

.socialIcons a:hover {
  background-color: #d0b2d8;
  transition: 0.5s;
  color: white;
}



.FooterBottom p {
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 3vh;
  margin-bottom: 10px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.FooterBottom a {
  color: #ff4081;
  /* Attractive pink color for links */
  text-decoration: none;
  transition: color 0.3s ease;
}

.FooterBottom a:hover {
  color: #e91e63;
  /* Lighter shade on hover */
}

/* Add this CSS to position the navigation at the top */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  margin-left: 2em;
  font-size: 4rem;
  font-weight: bold;
  line-height: 5rem; /* Increase the line-height to your preference */
  height: 5rem; /* Increase the height to match the line-height */
}

nav h1 a {
  text-decoration: none;
  color: #333;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 15px;
  height: 55px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 3rem;
}



.socialIcons a img {
  width: 30px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin: 0 10px; /* Add spacing between icons */
}

/* Additional styling for the footer */
.footerContainer {
  text-align: center;
  /* padding: 20px; */
  background-color: #f0f0f0; 
  /* Set background color as needed */
}

.FooterBottom {
  display: flex;
  justify-content: center; 
  background-color: transparent;
  /* padding: 20px; */
  text-align: center;
}

.socialIcons {
  display: flex;
  align-items: center;
}
