/* Global Styles */
* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f4f4f9;
  color: #333;
  line-height: 1.6;
  padding: 20px;
}

/* Radio Input Styles */
.radio-input {
  display: flex;
  flex-direction: column;
  padding: 16px;
  background: #d7b4e5;
  color: #000;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgb(0 0 0 / 10%);
  width: 80vw;
  margin: 15px auto;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.radio-input input {
  display: none;
}

.radio-input label {
  display: flex;
  background-color: #fff;
  padding: 14px;
  margin: 8px 0 0 0;
  font-size: 14px;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid rgba(187, 187, 187, 0.164);
  color: #000;
  transition: background-color 0.3s ease, border 0.3s ease, transform 0.3s ease;
}

.radio-input label:hover {
  background-color: rgba(24, 24, 24, 0.13);
  border: 1px solid #bbb;
  transform: translateY(-2px);
}

.radio-input:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-4px);
}

/* Flash Error Styles */
.flasherror {
  background-color: #ef5353;
  color: white;
  padding: 15px;
  font-style: inherit;
  width: fit-content;
  margin: 15px auto;
  border-radius: 4px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.flasherror:hover {
  background-color: #d32f2f;
  transform: translateY(-4px);
}

/* Info Section Styles */
.info {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.question {
  color: rgb(49, 49, 49);
  font-size: 1.1rem;
  line-height: 1.4rem;
  font-weight: 800;
}

.steps {
  background-color: rgb(0, 0, 0);
  padding: 4px 8px;
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 600;
}

/* Result Section Styles */
.result {
  margin-top: 10px;
  font-weight: 600;
  font-size: 12px;
  display: none;
  transition: opacity 0.4s ease;
}

/* Button Styles */
button {
  --primary-color: #61075c;
  --secondary-color: #fff;
  --hover-color: #111;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: right;
  gap: 0.6em;
  font-weight: bold;
  cursor: pointer;
}

button .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

button .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

button .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

button:hover {
  background-color: var(--hover-color);
}

button:hover .arrow {
  background: var(--secondary-color);
}

button:hover .arrow:before {
  right: 0;
}

/* Responsive Adjustments */
@media (max-width: 600px) {
  .radio-input {
    width: 90vw;
    /* margin-left: 5vw; */ 
  }
  .flasherror {
    margin-left: auto;
    margin-right: auto;
  }
}
