@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&display=swap");

body {
  overflow-x: hidden;
  background-color: #eaeaea;
  margin: 0;
  display: grid;
  place-items: center;
  font-family: "Source Sans Pro", sans-serif;
  background-image: url(../images/vector-purple-light-blue-gradient-260nw-1941567055.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

main {
  width: min(100%, 480px);
  margin: 2% 0px;
  border-radius: 12px;
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.4);
}

.section__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: white;
  padding-bottom: 20px;
  border-radius: 12px;
}

.section__container {
  width: 100%;
  height: 100%;
  border-radius: 16px;
}




.header {
  --start: 15%;
  height: 130px;
  background-image: repeating-radial-gradient(circle at var(--start), transparent 0%, transparent 10%, rgba(54, 89, 219, 0.33) 10%, rgba(54, 89, 219, 0.33) 17%), linear-gradient(to right, #5b7cfa, #3659db);
  color: #fff;
  position: relative;
  border-radius: 12px 12px 0 0;
  overflow: hidden;
}

.header__title {
  position: absolute;
  z-index: 2;
  top: 50%;
  right: calc(var(--start) * 0.75);
  transform: translateY(-50%);
  text-transform: uppercase;
  margin: 0;
}

.header__title span {
  display: block;
}

.header__title--top {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 6.5px;
}

.header__title--bottom {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 3.55px;
  opacity: 0.65;
  transform: translateY(-2px);
}

.header__icon {
  fill: #ffffff;
  opacity: 0.35;
  width: 50px;
  position: absolute;
  top: 50%;
  left: var(--start);
  transform: translate(-50%, -50%);
}




.score-board {
  background-color: #fff;
  border-radius: 0 0 12px 12px;
  display: grid;
  justify-items: center;
  row-gap: 10px;
  padding: 20px 0;
  /* border: 2px solid black; */
}

.score-card {
  display: grid;
  width: 85%;
  grid-template-columns: 1fr 3fr 2fr;
  align-items: center;
  padding: 10px 30px 10px 10px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23);
  cursor: pointer;
  transition: transform 0.25s cubic-bezier(0.7, 0.98, 0.86, 0.98), box-shadow 0.25s cubic-bezier(0.7, 0.98, 0.86, 0.98);
  background-color: #fff;
  /* border: 2px solid red; */
}

.circle {
  display: grid;
  place-items: center;
  width: 3.75rem;
  height: 3.5rem;
  margin: 0;
  background-color: rgb(0, 116, 116);
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-family: "Mulish", sans-serif;
  font-weight: bold;
  border: 3px solid white;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #ebeef3, 0 0 0 22px #f3f4f6;
}

.circle:hover {
  filter: grayscale(1.5);
  transition: filter 0.5s ease;
}

#P {
  background-color: #1E88E5;
}

#E {
  background-color: #4ED2DA;
}

#R {
  background-color: #D71A60;
}

#M {
  background-color: #8E24AA;
}

#A {
  background-color: #0154a4;
}


.score-card:hover {
  transform: scale(1.1);
  box-shadow: 0 9px 47px 11px rgba(51, 51, 51, 0.18);
}

.score-card__title {
  color: #979cb0;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.64px;
  margin-left: 25px;
  z-index: 1;
  white-space: nowrap;
}

.score-card__value {
  color: #35d8ac;
  font-weight: 700;
  font-size: 34px;
  text-align: right;
}

.score-card__value>span {
  opacity: 0.8;
  font-weight: 600;
  margin-left: 3px;
}

.emoji {
  font-size: 30px;
}

/*# sourceMappingURL=result.css.map */

.btn-grad {
  background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 51%, #00d2ff 100%);
  width: 90%;
  padding: 15px 0;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: darkslategray;
  font-weight: bolder;
  font-family: "Mulish", sans-serif;
  font-size: 1.3rem;
  box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23);
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.btn-grad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.recommended-resources {
  background-color: rgb(255, 255, 255);
  background:url("Designer\ \(21\).png");
  border-radius: 5px;
  padding: 1rem;
  margin-top: 2rem;
}

.recommended-resources h2 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 1rem;
}

.resource-card h3{
  color: white;
}

.resource-list {
  display: flex;
  flex-wrap: wrap;
  /* centre the cards */
  justify-content: center;
  align-items: center;
}

.resource-card {
  display: inline-block;
  width: calc(60%);
  margin: 0.5rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  /* change background of cards */
  background: radial-gradient(circle, rgba(131, 58, 180, 1) 5%, rgba(252, 70, 128, 0.680637220708596) 92%);
  transition: all .2s;
  cursor: pointer;
  text-align: center;
}

.resource-card:hover{
  transform: scale(0.98);
  box-shadow: 0px 0px 30px 1px white;
}


.popup {
  display: none;
  position: relative;
  position: fixed;
  z-index: 11;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fefefe;
  border: 1px solid #888;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.3s ease-in-out;
}

#close-btn {
  color: #aaa;
  float: right;
  font-size: 32px;
  font-weight: bold;
  cursor: pointer;
}

#close-btn:hover,
#close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#popup-content-heading {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: gray;
}

#img-container {
  display: grid;
  place-items: center;
  padding: 10px 0;
  background-color: aliceblue;
}

hr {
  border: 0;
  height: 2px;
  background-color: whitesmoke;
}

#share-btns {
  display: grid;
  place-items: center;
  grid-auto-flow: column;
}

#share-btns i {
  font-size: 24px;
  color: gray;
  cursor: pointer;
}

#share-btns i:hover {
  color: black;
}